.sticky-navbar{
    position: sticky;
    top: 0;
    z-index: 99;
    display: flex;
    /* justify-content: flex-end; */
    flex-direction: column;
    justify-content: center;
}


@media (max-width: 1700px){
    .layout-grid{
    display: grid;
    /* justify-content: space-between; */
    padding: 5px;
    /* justify-content: center; */
    color: aquamarine;
    background-color: #5e76a5;
    border: solid aquamarine;
    border-radius: 10px;
    font-size: 15px;
    grid-template-columns: 80% 20%;
    grid-template-areas: 
    'nav-list exp-area'
    'navbar-shortcuts navbar-shortcuts';
    }
}

@media (max-width: 1400px){
.layout-grid{
    display: grid;
    justify-content: space-between;
    padding: 5px;
    justify-content: center;
    color: aquamarine;
    background-color: #5e76a5;
    border: solid aquamarine;
    border-radius: 10px;
    font-size: 15px;
    grid-template-columns: 60% 40%;
    grid-template-areas: 
    'navbar-shortcuts exp-area'
    /* 'navbar-shortcuts navbar-shortcuts'; */
    }
};

.nav-list{
    grid-area: nav-list;
    display: flex;
    flex-direction: row;
    color: #5e76a5;
    background-color: red;
}


.link{
    color: orange;
    font-weight: bold;
}

.home{
    color: orange;
    font-weight: bold;
    font-size: 20px;
} 

.exp-area{
    grid-area: exp-area;
}

.empty-space{
    grid-area: empty1;
}

.layout-item {
    border: solid rgb(193, 216, 237);
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: normal;
    background-color: rgb(3, 46, 63);
    flex-direction: column;
    font-size: 15px;
    padding: 7px;
    justify-content: space-between;
    width: 10vw;
}

.navbar-shortcuts{
    display: flex;
    grid-area: navbar-shortcuts;
}

@media (max-width: 428px) {
    .navbar-shortcuts{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
        /* height: 1vh; */
    }
}

.navbar-shortcut-button{
    border-radius: 10px;
    border: solid;
    border-color: #7fffd4;
    background-color: #5e76a5;
    opacity: 75%;
    color: white;
    margin: 2px;
    filter: blur(0.5px);
    font-size: 13px;
}



/* Kit -- #5e76a5 orange yellow(rgb(225, 216, 46); white  */