.sticky-navbar{
    position: sticky;
    top: 0;
    z-index: 99;
}

.layout{
    display: flex;
    justify-content: space-between;
    /* grid-template-rows: 100px 100px; */
    padding: 5px;
    justify-content: center;
    color: aquamarine;
    background-color: #5e76a5;
    border: solid aquamarine;
    /* margin: 2px; */
    border-radius: 10px;
    font-size: 15px;
};


.layout-item {
    border: solid rgb(129, 217, 29);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    font-weight: normal;
    background-color: rgb(21, 194, 213);
    flex-direction: row;
    font-size: 25px;
    padding: 7px;
    justify-content: space-between;
}

.navbar-shortcuts{
    display: flex;
    justify-content: center;
}

.navbar-shortcut-button{
    border-radius: 10px;
    border: solid;
    border-color: #7fffd4;
    background-color: #5e76a5;
    opacity: 75%;
    color: white;
    margin: 2px;
    filter: blur(0.5px);
}

.link{
    color: orange;
    font-weight: bold;
}

.home{
    color: white;
    font-weight: bold;
    font-size: 20px
}

/* Kit -- #5e76a5 orange yellow(rgb(225, 216, 46); white  */