.sticky-navbar{
    position: sticky;
    top: 0;
    z-index: 99;
    display: flex;
    /* justify-content: flex-end; */
    flex-direction: column;
    justify-content: center;
}


@media (max-width: 1700px){
    .layout-grid{
    display: grid;
    /* justify-content: space-between; */
    padding: 5px;
    /* justify-content: center; */
    color: aquamarine;
    background-color: #5e76a5;
    border: solid aquamarine;
    border-radius: 10px;
    font-size: 15px;
    grid-template-columns: 80% 20%;
    grid-template-areas: 
    'nav-list exp-area'
    'navbar-shortcuts navbar-shortcuts';
    }
}

@media (max-width: 1400px){
.layout-grid{
    display: grid;
    justify-content: space-between;
    padding: 5px;
    justify-content: center;
    color: aquamarine;
    background-color: #5e76a5;
    border: solid aquamarine;
    border-radius: 10px;
    font-size: 15px;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    'nav-list exp-area'
    'navbar-shortcuts navbar-shortcuts';
    }
};

.nav-list{
    grid-area: nav-list;
}

.exp-area{
    grid-area: exp-area;
}


.layout-item .nav-list{
    border: solid rgb(129, 217, 29);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    font-weight: normal;
    background-color: rgb(21, 194, 213);
    flex-direction: row;
    font-size: 25px;
    padding: 7px;
    justify-content: space-between;
}

.navbar-shortcuts{
    display: flex;
    justify-content: center;
    grid-area: navbar-shortcuts
}

@media (max-width: 428px) {
    .navbar-shortcuts{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.navbar-shortcut-button{
    border-radius: 10px;
    border: solid;
    border-color: #7fffd4;
    background-color: #5e76a5;
    opacity: 75%;
    color: white;
    margin: 2px;
    filter: blur(0.5px);
}

.link{
    color: orange;
    font-weight: bold;
}

.home{
    color: orange;
    font-weight: bold;
    font-size: 20px;
}

/* Kit -- #5e76a5 orange yellow(rgb(225, 216, 46); white  */