/* Main */

/*  This will be the general template 
padding: 10px;
background-color: rgba(249, 180, 140, 0.674);
margin: 10px;
border-radius: 20px 20px 20px 20px;
border: solid grey; */

.cycle-task-area{
    display: flex;
    flex-direction: column;
}

.AnalyticsUiContainer{
    display: flex;
    /* border: solid; */
    flex-direction: column;
    position: relative;
    z-index: 5;
    background-color: rgba(167, 197, 239, 0.892);
}

.AnalyticsUi-idea-cap{
    display: flex;
    /* width: 100%; */
    flex-direction: column;
    padding: 10px;
    background-color: rgba(161, 230, 195, 0.866);
    margin: 10px;
    border-radius: 20px 20px 20px 20px;
    border: solid grey;
    justify-content: center;
    align-items: center;
}

.AnalyticsUi-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: rgba(249, 180, 140, 0.674);
    margin: 10px;
    border-radius: 20px 20px 20px 20px;
    border: solid grey;
}

.Current-View-Events{
    font-weight: bold;
    color: white;
    background-color: black;
}

.Current-View-For-People{
    font-weight: bold;
    color: black;
    background-color: turquoise;
}

.Current-View-Bugs{
    font-weight: bold;
    color: black;
    background-color: rgba(246, 46, 46, 0.674);
}

.Current-View-Tasks{
    font-weight: bold;
    color: black;
    background-color: rgba(20, 80, 164, 0.674);
}

.Current-View-Inventory{
    font-weight: bold;
    color: black;
    background-color: rgba(20, 80, 164, 0.674);
}

.Current-View-Leisure{
    font-weight: bold;
    color: white;
    background-color: black;
}

.Current-View-This-Release{
    font-weight: bold;
    color: black;
    background-color: turquoise;
}

.Current-View-Recipes{
    font-weight: bold;
    color: black;
    background-color: rgba(246, 46, 46, 0.674);
}

.Current-View-Meals{
    font-weight: bold;
    color: black;
    background-color: rgba(20, 80, 164, 0.674);
}

.Current-View-Milestones{
    font-weight: bold;
    color: black;
    background-color: rgba(20, 80, 164, 0.674);
}

.Current-View-Progression-Blockers{
    font-weight: bold;
    color: black;
    background-color: turquoise;
}

.List-Container {
    /* background-color: orange; */
    background: rgba(249, 180, 140, 0.674);
    padding: 10px;
    margin: 10px;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: PlaywriteITModerna-VariableFont_wght;
    display: flex;
    flex-direction: row;
    border: solid grey;
    justify-content: space-evenly;
    grid-template-columns: 100px 100px;
    border-radius: 20px 20px 20px 20px;
}

.list-item {
    color: white;
    font-size: 20px;
}

.item-remove-button {
    font-size: 10px;
    background-color: rgba(188, 236, 14, 0.674);
    color: rgba(4, 40, 90, 0.674);
}

.Event-container, .Event-item{
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
    margin: 10px;
    border-radius: 20px 20px 20px 20px;
    /* border: solid grey; */
    
}

.Event-item{
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
    margin: 10px;
    border-radius: 20px 20px 20px 20px;
    border: solid grey;
    
}

.Event-button{
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
    margin: 10px;
    border-radius: 20px 20px 20px 20px;
    border: solid grey;   
    align-items: center;
}

.AnalyticsUi-Exp{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    background-color: #59faa1;
    padding: 10px;
    margin: 10px;
    border-radius: 20px 20px 20px 20px;
    border: solid grey;
}

.Exp-Bar-Container{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    background-color: rgba(203, 239, 212, 0.674);
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 10px;
    margin: 10px;
    border-radius: 20px 20px 20px 20px;
    border: solid grey;
    
}

.Exp-Fill{
    display: flex;
    flex-direction: column;
    background-color: red;
    position: absolute;
    z-index: 3;
    color: red;
    height: 100%;
    overflow: hidden;
    padding: 10px;
    margin: 10px;
    border-radius: 20px 20px 20px 20px;
    border: solid grey;
}

