.todo-title{
    font-family: RubikDirt-Regular;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    margin-top: 75px;
}

.MainToDo-Container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}