/* This is a container OF containers */

/* Laptop */
@media (min-width: 1000px) {
.phase-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    }
}

    
@media (min-width: 1400px) {
.circles{
    color: white;
    border-radius: 60%;
    /* padding: 5vh 1vw; */
    background-color: rgba(0, 128, 128, 0.725);
    font-size: 30px;
    border: solid;
    border-color: grey;
    }
}

@media (max-width: 1000px){
.circles{
    color: white;
    border-radius: 60%;
    background-color: rgb(8, 145, 180);
    font-size: 15px;
    border: solid;
    border-color: grey;
    padding: 2vh 2vw;
    }
}

/* Theme of the Phase Area */
@media (min-width: 1400px) {
.GridTemp{
    display: grid;
    border: solid;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border-color: grey;
    background-color: rgba(249, 180, 140, 0.674);
    /* width: 25vw; */
    /* This sets the size of the columns */
    grid-template-columns: 20% 45% 35%;
    grid-template-areas: 
        "a a a" 
        "e c d"
        "text-box text-box text-box"
        "list-area list-area list-area";
    }
}

@media (max-width: 1000px) {
    .GridTemp{
        display: grid;
        border: solid;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        border-color: grey;
        background-color: rgba(249, 180, 140, 0.674);
        grid-template-columns: 80% 20%;
        grid-template-areas: 
            "a a " 
            "c e "
            "list-area list-area"
            "d d"
        }   
    }


.item-a{
    display: flex;
    grid-area: a;
    background-color: blue;
    justify-content: center;
}

.item-b{
    display: flex;
    flex-direction: column;
    grid-area: list-area;
    background-color: lightblue;
    border-radius: 10px;
}

.item-c{
    display: flex;
    grid-area: c;
    background-color: beige;
    opacity: 75%;
    border-radius: 10px;
}

.item-d{
    display: flex;
    flex-direction: column;
    grid-area: d;
    background-color: skyblue;
    border-radius: 10px;
}

.item-e{
    display: flex;
    grid-area: e;
    background-color: rgb(61, 185, 234);
    border-radius: 10px;
    justify-content: center;
}

.item-f{
    display: flex;
    grid-area: text-box;
    height: 200px;
}

/*  The StageUi-Container is tucked under the item-u container and is what actually houses the icons */
@media (min-width: 1400px) {
    .StageUi-Container{
        display: flex;
        /* grid-template-columns: 10% 10% 10%; */
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        }
    }
    
@media (max-width: 1000px) {
    .StageUi-Container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        }
    }