/* The Section title for stories and ideas */
@media (max-width: 428px){
    .story-container-title{
        display: flex;
        justify-content: center;
        font-family: RubikDirt-Regular;
        background-color: #031a0d82;
        color:black;
        border-radius: 10px;
        margin-top: 75px;
        }
    }

    
@media (min-width: 1400px) {
    .story-container-title{
        display: flex;
        justify-content: center;
        font-family: RubikDirt-Regular;
        background-color: #f0e00582;
        color:black;
        margin-left: 22vw;
        margin-right: 22vw;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        }
    }

/* NEXT SECTION ------------------------ */

@media (min-width: 1400px){
    .storyUi-Container{
        display: flex;
        flex-direction: column;
        background-color: #59faa15c;
        border: solid black;
        border-radius: 20px;
        margin-bottom: 3px;
        margin-left: 30vw;
        margin-right: 30vw;
        }
    }

@media (max-width: 428px){
    .storyUi-Container{
        justify-content: center;
        align-items: center;
        background-color: #59faa1;
        border: solid black;
        border-radius: 20px;
        margin: 10px;
        display: grid;
        /* fr refers to free space */
        grid-template-columns: 100vw; 
        /* grid-template-rows: 8vh 15vh 2vh 15vh; */
        grid-template-areas: 
        /* "button-container button-container" */
        "button-container"
        "s-title"
        "s-description"
        "labels";
        }
    }

    
@media (max-width: 428px){
    .button-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        grid-area: button-container;
        padding: 2px;
        /* align-items: center; */
        }
    }

@media (min-width: 1400px){
    .button-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        grid-area: button-container;   
    }
}



@media (min-width: 1400px) {
    .anchor-image{
        display: flex;
        background-color: black;
        width: 5vw;
        justify-content: center;
        align-items: center;
        padding: 2px;
        border-radius: 20px;
        grid-area: anchor;
        }
    }

@media (max-width: 428px) {
    .anchor-image{
        display: flex;
        background-color: black;
        width: 15vw;
        height: 3vh;
        justify-content: center;
        align-items: center;
        padding: 2px;
        border-radius: 20px;
        grid-area: anchor;
        }
    }

@media (max-width: 428px) {
    .story-delete-button{
        display: flex;
        border-radius: 20px;
        background-color: black;
        color: #59faa1;
        width: 20vw;
        height: 3vh;
        justify-content: center;
        align-items: center;
        grid-area: delete-story;
        }
    }

@media (min-width: 1400px) {
    .story-delete-button{
        display: flex;
        border-radius: 20px;
        background-color: black;
        color: #59faa1;
        width: 5vw;
        justify-content: center;
        align-items: center;
        grid-area: delete-story;
        }
    }


@media (max-width: 428px) {
    .title-description-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-right: 10px;
        padding-top: 2px;
    }
}


/* story title container */
@media (min-width: 1400px){
    .text-a{
        display: flex;
        grid-area: s-title;
        height: 5vh;
        border-radius: 10px;
        border-top-left-radius: 18px; 
        }
    }

/* title */
@media (max-width: 428px){
    .text-a{
        display: flex;
        grid-area: s-title;
        height: 5vh;
        border-radius: 10px;
        border-top-left-radius: 18px; 
        border-top-right-radius: 18px;
        margin-bottom: 2px;
        }
    }

/* story description container */
@media (min-width: 1400px){
    .text-b{
        display: flex;
        grid-area: b;
        height: 24vh;
        border-radius: 10px;
        }
    }

@media (max-width: 428px){
    .text-b{
        display: flex;
        grid-area: s-description;
        border-radius: 10px;
        height: 15vh;
        }
    }

/*  LABEL CONTAINER ---------------------------------- */


.add-story-button-container{
    display: flex;
    justify-content: center;
}




@media (min-width: 1400px){
    .Container{
        /* use Blank Divs if you need a block */
        /* width: 100%; */
        /* display: grid; */
        /* grid-template-columns: repeat(3, 10fr); */
        /* grid-template-columns: 2fr 5fr 2fr; */
        display: flex;
        margin-left: 22vw;
        margin-right: 22vw;

    }
}

/* This adjusts the side of the entire Container to have just 1 column on small screens */
@media (max-width: 400px){
    .Container{
        width: 100%;
        grid-template-columns: 5fr;
        display: grid
    }
}

/* This makes the blank spaces hide if the screen is beyond 400px.  But the column structure remains (3 columns for large screens) */
@media (max-width: 400px){
    .blank-space-1, .blank-space-2 {
        background-color: black;
        opacity: 60%;
        display: none;
    }
}




/*This is where the Circles are */
@media (min-width: 1400px){
    .metric-Container{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-area: metrics;
        justify-content: space-around;
        background-color: maroon;
        border-radius: 20px;
        }
    }

@media (max-width: 428px){
    .metric-Container{
        /* display: grid; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: maroon;
        border-radius: 20px;
        /* grid-template-areas:
            'metrica metricb metricc' */
        }
    }

@media (min-width: 1400px) {
    .metric-a, .metric-b, .metric-c{
        border: solid black;
        background-color: whitesmoke;
        height: 50px;
        width: 50px;
        border-radius: 60%;
        text-align: center;
        font-weight: bold;
        }
    }

/* circle inputs for story cards */
@media (max-width: 428px) {
    .metric-a, .metric-b, .metric-c{
        border: solid black;
        background-color: whitesmoke;
        /* height: 50px; */
        /* width: 50px; */
        border-radius: 60%;
        text-align: center;
        font-weight: bold;
        width: 8vw;
        }
    }


.metric-a{
    grid-area: metrica;
}

.metric-b{
    grid-area: metricb;
}

.metric-c{
    grid-area: metricc;
}

@media(min-width: 1400px) {
    .label-Container{
        grid-area: labels;
        display: flex;
        flex-direction: row;
        /* display: grid; */
        /* grid-template: 2fr 2fr 2fr/ 1fr ; */
        align-items: center;
        /* border: solid red; */
        border-radius: 20px;
        justify-content: space-evenly;
        font-weight: bold;
        background-color: white;
        /* margin-top: 11px; */
        /* margin-left: 11vw;
        margin-right: 11vw; */
        }
    }

@media(max-width: 428px) {
    .label-Container{
        grid-area: labels;
        display: flex;
        flex-direction: row;
        align-items: center;
        /* border: solid red; */
        border-radius: 20px;
        justify-content: center;
        font-weight: bold;
        background-color: white;
        /* margin: 20px; */
        /* margin-top: 11px; */
        /* width: 100vw; */
        padding: 10px;
        margin: 20px;
        }
    }


.story-value-scale{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.shirt-size{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.estimate{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.item-c{
    display: flex;
    flex-direction: column;
}

.item-f{
    display: flex;
    margin: 10px;
    border-radius: 10px;
}

