/*use classes to div out custom css components*/
/* use # for divs, use . for classes and use normal text for built in elements like button */
/*Use grid containers and grid items for structuring.*/

/* .workout-routine-container {
    display: grid;
    grid-area: 150px, auto auto auto;
} */
/* This is going to be the THEME for the fitness groups */
.body-metrics-container, .muscle-groups-container, .macro-calc-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(193, 164, 17);
    border-radius: 0 0 20% 20%;
    margin: 10px;
    margin-top: 25px;
    padding: 10px;
    border: dotted;
    border-color: whitesmoke;
    align-items: center;
}

/* Theme for Titles */
.body-metrics-title, .muscle-groups-title, .macro-calc-title{
    font-family: RubikDirt-Regular;
    display: flex;
    justify-content: center;
    background-color: crimson;
    flex-direction: column;
    border: dotted;
    border-radius: 10px;
    width: stretch;
}

.body-metrics-progress-bars{
    width: 200px;
}

button{
    background-color: #065187;
    color: #2980B9;
}

/*GTC changes the width of the columns*/
.grid-muscle-group-container{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    justify-content: center;
}

/*Margin changes the width of the grid items inside of the container divs*/
.grid-workout-item, .macro-calc-item{
    text-align: center;
    font-weight: bold;
    color: #2980B9;
    background-color: #065187;
    margin: 2px;
    padding: 2px;
    border-radius: 20px;
    height: 50px;
    border: dotted;
}

/* Hover Theme */
.grid-workout-item:hover, button:hover{
    background-color: lightblue;
}


/* .progress{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    background-color: blue;
    height: 100px;
} */


.motivationalQuotes{
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.muscle-groups-title{
    font-family: RubikDirt-Regular;
    display: flex;
    justify-content: center;
}

.macro-calculator-title{
    font-family: RubikDirt-Regular;
    display: flex;
    justify-content: center;
}

.macro-calc-item{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
