@font-face {
    font-family: 'RubikDirt-Regular';
    src: url('../fonts/forTitles/RubikDirt-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'FrederickatheGreat-Regular';
    src: url('../fonts/forTitles/FrederickatheGreat-Regular.ttf') format('truetype')
}