.navbar{
    display: flex;
    grid-template-rows: 100px 100px;
    padding: 5px;
    justify-content: right;
}

.nav-item{
    text-align: center;
    font-weight: 300;
    background-color: #59ffa1;
    flex-direction: row;
    font-size: 25px;
    padding: 7px;
    border-radius: 20px;
}