
/* Responsive Design.  The display will break the schedule down into 2 columns for laptop and desktop screens. */
@media (min-width: 1400px) {
.Full-ScheduleUi-Container{
    display: grid;   
    /* grid-template-columns: 50% 50%; */
    grid-template-areas:
        'a a b b'
        ;
    justify-content: center;
    padding: 19vw;
    padding-top: 1vh;
    padding-bottom: 10vh;
    }
}

@media(min-width: 1400px) {
.grid-item-a{
    display: flex;
    flex-direction: column;
    grid-area: a;
    background-color: blue;
    }
}

@media(min-width: 1400px) {
.grid-item-b{
    display: flex;
    flex-direction: column;
    grid-area: b;
    background-color: red;
    }
}

@media (min-width: 1400px) {
.Main-Component-a{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    }
}

@media (min-width: 1400px) {
.Main-Component-b{
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
}

.scheduleButtonOn{
    display: flex;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    align-self: flex-start;
    background-color: #00a62a;
    }


.scheduleButtonYellow{
    display: flex;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    align-self: flex-end;
    background-color: yellow;
}

.scheduleButtonOff{
    display: flex;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    align-self: center;
}   

/* laptop 1500 works too */
@media (min-width: 1400px) {
.Container-ScheduleUi-main{
    border: solid black;
    margin-bottom: 5px;
    display: grid;
    justify-content: space-between;
    /* width: 100%; */
    /* Changed from 10/15/75 */
    grid-template-columns: 12.5% 15% 72.5%;
    /* padding: 20px; */
    background-color: rgba(242, 203, 180, 0.674);
    /* margin: 10px; */
    border-radius: 20px 20px 20px 20px;
    border: solid grey; 
}}

@media (max-width: 428px) {
    .Container-ScheduleUi-main{
        border: solid black;
        margin-bottom: 5px;
        display: grid;
        justify-content: center;
        /* width: 100%; */
        /* Changed from 10/15/75 */
        grid-template-columns: 12.5% 15% 72.5%;
        padding: 15px;
        background-color: rgba(242, 203, 180, 0.674);
        margin: 10px;
        border-radius: 20px 20px 20px 20px;
        border: solid grey; 
    }}

/* consider making this change dynamically to a dif background color */
@media (max-width: 428px) {
.item-ScheduleText{
    display: flex;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: PlaywriteITModerna-VariableFont_wght;
    /* width: 100%; */
    background-color: hsl(215, 74%, 93%);
    padding: 10px;
    /* background-color: rgba(249, 180, 140, 0.674); */
    margin: 10px;
    border-radius: 20px 20px 20px 20px;
    border: solid grey; 
    }
}

@media (min-width: 1400px) {
    .item-ScheduleText{
        display: flex;
        /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
        font-family: PlaywriteITModerna-VariableFont_wght;
        /* width: 100%; */
        /* background-color: hsl(215, 74%, 93%); */
        padding: 2px;
        /* background-color: rgba(249, 180, 140, 0.674); */
        /* margin: 2px; */
        height: 80px;
        border-radius: 20px 20px 20px 20px;
        border: solid grey; 
        }
    }

@media (max-width: 428px) {
.Container-Actual{
    display: flex;
    /* width: 100%; */
    /* background-color: hsla(61, 92%, 67%, 0.227); */
    /* padding: 10px; */
    /* background-color: rgba(249, 180, 140, 0.674); */
    /* margin: 10px; */
    /* border-radius: 20px 20px 20px 20px; */
    /* border: solid grey;  */
    }
}

/* This makes the Actual text box expand */
@media (min-width: 1400px) {
.Container-Actual{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    }
}

@media (min-width: 1400px){
textarea{
    background-color: hsl(215, 64%, 84%);
    border-radius: 20px 20px 20px 20px;
    border: solid grey; 
    font-family: PlaywriteITModerna-VariableFont_wght;
    }
}

@media (max-width: 428px){
textarea{
    background-color: hsl(215, 64%, 84%);
    padding: 10px;
    margin: 10px;
    border-radius: 20px 20px 20px 20px;
    border: solid grey; 
    font-family: PlaywriteITModerna-VariableFont_wght;
    }
}


.item-daytime{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    /* font-size: 14px; */
    font-size: 20px;
    font-family: PlaywriteITModerna-VariableFont_wght;
    color: hsl(144, 100%, 1%);
}

/* this should be 20px for laptop screens */
@media (min-width: 1400px){
.item-daytime{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    /* font-size: 15px; */
    font-size: 20px;
    font-family: PlaywriteITModerna-VariableFont_wght;
    color: hsl(144, 100%, 1%);
    }
}

.schedule-title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.schedule-title{
    font-family: RubikDirt-Regular;
}

.schedule-quote{
    font-family: RubikDirt-Regular;
}

