
@media (min-width: 1400px) {
.StageUi-Container{
    display: flex;
    /* grid-template-columns: 10% 10% 10%; */
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    }
}

@media (max-width: 1000px) {
    .StageUi-Container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        }
    }
    

@media (min-width: 1400px) {
.circles{
    color: white;
    border-radius: 60%;
    /* padding: 40%; */
    padding: 5vh 1vw;
    background-color: rgba(0, 128, 128, 0.725);
    font-size: 30px;
    border: solid;
    border-color: grey;
    }
}

@media (max-width: 1000px){
.circles{
    color: white;
    border-radius: 60%;
    background-color: rgb(8, 145, 180);
    font-size: 15px;
    border: solid;
    border-color: grey;
    padding: 3vh 1vw;
    }
}

/* Theme of the Phase Area */
@media (min-width: 1400px) {
.GridTemp{
    display: grid;
    border: solid;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border-color: grey;
    background-color: rgba(249, 180, 140, 0.674);
    grid-template-areas: 
        "a a a" 
        "c e d "
        "b b b"
    }
}

@media (max-width: 1000px) {
    .GridTemp{
        display: grid;
        border: solid;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        border-color: grey;
        background-color: rgba(249, 180, 140, 0.674);
        grid-template-areas: 
            "a a " 
            "c e "
            "b b "
            "d d"
        }   
    }


.item-a{
    grid-area: a;
    background-color: blue;
    display: flex;
    justify-content: center;
}

.item-b{
    grid-area: b;
    background-color: lightblue;
    border-radius: 10px;
}

.item-c{
    grid-area: c;
    background-color: beige;
    opacity: 75%;
    border-radius: 10px;
}

.item-d{
    grid-area: d;
    background-color: skyblue;
    border-radius: 10px;
}

.item-e{
    grid-area: e;
    background-color: rgb(61, 185, 234);
    border-radius: 10px;
}