/*use classes to div out custom css components*/
/* use # for divs, use . for classes and use normal text for built in elements like button */
/*Use grid containers and grid items for structuring.*/


/*GTC changes the width of the columns*/
.grid-container{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
}

/*Margin changes the width of the grit items inside of the container divs*/
.grid-item{
    text-align: center;
    font-weight: bold;
    color: #2980B9;
    background-color: #D6EAF8;
    margin: 2px;
}

.test{
    font-family: fantasy;
    text-align: center;
    width: 75px}

button{
    background-color: darkseagreen;
    margin: 5px;

}

.motivationalQuotes{
    font-size: 25px;
}
